In [42]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

#(i) string
a = "Hello pwskills "
print(type(a))

#(ii) list
list = [1,2,3,4,5,"ryaz",2.33,True,False]
print(type(list))

#(iii) float
b = 22.30
print(type(b))


#(iv) tuple
t = (1,2,3,True,22.22)
print(type(t))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [43]:
#Q2. Given are some following variables containing data:

#(i) var1 = ‘ ‘ ---> string

#(ii) var2 = ‘[ DS , ML , Python]’ ----> string

#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] ---> list

#(iv) var4 = 1 ---> integer
      #What will be the data type of the above given variable.

#Ans:
str
str
list
int

int

In [44]:
#Q3. Explain the use of the following operators using an example:
#(i) / -->divide
#(ii) % --> modulus
#(iii) // --> integer division
#(iv) **  -->exponential power form

a = 5/10
print(a)

b = 5%20
print(b)

c = 5//10
print(c)

d = 4**2
print(d)

0.5
5
0
16

In [50]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
#  element and its data type.

list = [1,2,3,4,5,6,"ryaz",True,False,22.36]
for i in list:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
ryaz
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
22.36
<class 'float'>

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

A = 10
B = 100
while A / B :
    print

In [3]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#  this property.

# Mutable = in a list any object can be change by another object
# immutable = It does't allow to change any object

# Mutable
list_2 = [1,2,3,"ryaz"]
list_2[3] = "beig"
list_2


#Immutable 
 #   k = "ryaz"
#     k[1]=b

NameError: name 'b' is not defined