Q1. How do you comment code in Python? What are the different types of comments?

In [1]:
# single comment
# multi comment

#  single =cbhdygvbhvb cbhdcygecb

#  multi = grgrggrgrg
# rangerr
# brbvrggvf
# hyjndsrhtr
# dfbtjtny      ==> simply select all and then ctrl+/

Q2. What are variables in Python? How do you declare and assign values to variables?

In [3]:
# # There are different types of variable in python like, 
# # if  we write a number in python so it's gonna be a integer variable,
# # same as
#  words = str
# decimal no. = float
# True/False = bool
# no. = int

In [8]:
a = "ryaz beig"
type(a)

str

In [9]:
b = 9168595763
type(b)

int

In [10]:
c = 16.11
type(c)

float

In [11]:
d = True
type(d)

bool

Q3. How do you convert one data type to another in Python?

In [20]:
a1 = 12545
type(a1)

int

In [21]:
# convert into str
str(a1)

'12545'

In [22]:
# convert into float
float(a1)

12545.0

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [23]:
my_list = [1,2,3,4,5]

In [27]:
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex no. - a no. can be written as z=x+iy , where x,y are real no. and i be imag no. and it's represented as z

In python
  x+jy where x,y are real no. and j be imag no.

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [28]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [29]:
price = 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [30]:
name = "Ryaz Mukhtar Beig"
print(name)

Ryaz Mukhtar Beig

Q10. Given the string "Hello, World!", extract the substring "World".

In [34]:
pw = "Hello,World"
pw[6:11]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [44]:
is_student = True
print("you are currently a student")

is_student = False
print("you are not a studen")

you are currently a student
you are not a studen